{% extends '../layout/layout.html' %}

{% block content %}

<!-- ..::Newsletter Section Start Here::.. -->
<div class="rts-best-catagory-section2 section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="catagory-card">
                    <div class="contents">
                        <h3 class="catagory-title">Cell Phones</h3>
                        <ul class="catagory-lists">
                            <li><a href="{% url 'category' %}">iPhone <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">Phone Accessories <i class="fal fa-angle-right"></i></a>
                            </li>
                            <li><a href="{% url 'category' %}">Phone Cases <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">Postpaid Phones <i class="fal fa-angle-right"></i></a></li>
                        </ul>
                        <a href="{% url 'category' %}" class="all-btn">All Cell Phones <i
                                class="fal fa-long-arrow-right ml--5"></i></a>
                    </div>
                    <div class="category-thumb"><img src="/static/images/products/home4/catagory/1.png"
                            alt="category-thumb"></div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="catagory-card">
                    <div class="contents">
                        <h3 class="catagory-title">Headphones</h3>
                        <ul class="catagory-lists">
                            <li><a href="{% url 'category' %}">Noise Canceling <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">Over-EAR <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">Premium Headphones <i class="fal fa-angle-right"></i></a>
                            </li>
                            <li><a href="{% url 'category' %}">Sports & Fitness <i class="fal fa-angle-right"></i></a></li>
                        </ul>
                        <a href="{% url 'category' %}" class="all-btn">Headphones <i
                                class="fal fa-long-arrow-right ml--5"></i></a>
                    </div>
                    <div class="category-thumb"><img src="/static/images/products/home4/catagory/2.png"
                            alt="category-thumb"></div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="catagory-card">
                    <div class="contents">
                        <h3 class="catagory-title">Watches</h3>
                        <ul class="catagory-lists">
                            <li><a href="{% url 'category' %}">Sport Watches <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">Timex Watches <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">Watch Brands <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">Women Watches <i class="fal fa-angle-right"></i></a></li>
                        </ul>
                        <a href="{% url 'category' %}" class="all-btn">All Watches <i
                                class="fal fa-long-arrow-right ml--5"></i></a>
                    </div>
                    <div class="category-thumb"><img src="/static/images/products/home4/catagory/3.png"
                            alt="category-thumb"></div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="catagory-card">
                    <div class="contents">
                        <h3 class="catagory-title">Monitors</h3>
                        <ul class="catagory-lists">
                            <li><a href="{% url 'category' %}">Gaming <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">Ultra Wide <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">Office <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">TV <i class="fal fa-angle-right"></i></a></li>
                        </ul>
                        <a href="{% url 'category' %}" class="all-btn">All Monitors <i
                                class="fal fa-long-arrow-right ml--5"></i></a>
                    </div>
                    <div class="category-thumb"><img src="/static/images/products/home4/catagory/4.png"
                            alt="category-thumb"></div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="catagory-card">
                    <div class="contents">
                        <h3 class="catagory-title">Monitors</h3>
                        <ul class="catagory-lists">
                            <li><a href="{% url 'category' %}">Gaming <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">Ultra Wide <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">Office <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">TV <i class="fal fa-angle-right"></i></a></li>
                        </ul>
                        <a href="{% url 'category' %}" class="all-btn">All Monitors <i
                                class="fal fa-long-arrow-right ml--5"></i></a>
                    </div>
                    <div class="category-thumb"><img src="/static/images/products/home4/catagory/4.png"
                            alt="category-thumb"></div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="catagory-card">
                    <div class="contents">
                        <h3 class="catagory-title">Watches</h3>
                        <ul class="catagory-lists">
                            <li><a href="{% url 'category' %}">Sport Watches <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">Timex Watches <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">Watch Brands <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">Women Watches <i class="fal fa-angle-right"></i></a></li>
                        </ul>
                        <a href="{% url 'category' %}" class="all-btn">All Watches <i
                                class="fal fa-long-arrow-right ml--5"></i></a>
                    </div>
                    <div class="category-thumb"><img src="/static/images/products/home4/catagory/3.png"
                            alt="category-thumb"></div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="catagory-card">
                    <div class="contents">
                        <h3 class="catagory-title">Headphones</h3>
                        <ul class="catagory-lists">
                            <li><a href="{% url 'category' %}">Noise Canceling <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">Over-EAR <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">Premium Headphones <i class="fal fa-angle-right"></i></a>
                            </li>
                            <li><a href="{% url 'category' %}">Sports & Fitness <i class="fal fa-angle-right"></i></a></li>
                        </ul>
                        <a href="{% url 'category' %}" class="all-btn">Headphones <i
                                class="fal fa-long-arrow-right ml--5"></i></a>
                    </div>
                    <div class="category-thumb"><img src="/static/images/products/home4/catagory/2.png"
                            alt="category-thumb"></div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="catagory-card">
                    <div class="contents">
                        <h3 class="catagory-title">Cell Phones</h3>
                        <ul class="catagory-lists">
                            <li><a href="{% url 'category' %}">iPhone <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">Phone Accessories <i class="fal fa-angle-right"></i></a>
                            </li>
                            <li><a href="{% url 'category' %}">Phone Cases <i class="fal fa-angle-right"></i></a></li>
                            <li><a href="{% url 'category' %}">Postpaid Phones <i class="fal fa-angle-right"></i></a></li>
                        </ul>
                        <a href="{% url 'category' %}" class="all-btn">All Cell Phones <i
                                class="fal fa-long-arrow-right ml--5"></i></a>
                    </div>
                    <div class="category-thumb"><img src="/static/images/products/home4/catagory/1.png"
                            alt="category-thumb"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ..::Newsletter Section End Here::.. -->

{% endblock content %}