{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="welcome_area">
  <div class="welcome_slides owl-carousel">
    <!-- Single Slide Start -->
    <div
      class="single_slide height-800 bg-img background-overlay"
      style="background-image: url('{% static 'img/bg-img/banner1.webp' %}');"
    >
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <div class="welcome_slide_text">
              <h6
                data-animation="bounceInDown"
                data-delay="0"
                data-duration="500ms"
              >
                * new & exclusive
              </h6>
              <h2
                data-animation="fadeInUp"
                data-delay="500ms"
                data-duration="500ms"
              >
                Four Seasons Colors
              </h2>
              <a
                href="#"
                class="btn karl-btn"
                data-animation="fadeInUp"
                data-delay="1s"
                data-duration="500ms"
                >Shop Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Single Slide Start -->
    <div
      class="single_slide height-800 bg-img background-overlay"
      style="background-image: url('{% static 'img/bg-img/banner2.webp' %}');"
    >
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <div class="welcome_slide_text">
              <h6
                data-animation="fadeInDown"
                data-delay="0"
                data-duration="500ms"
              >
                * INSPIRED BY WILDERNESS
              </h6>
              <h2
                data-animation="fadeInUp"
                data-delay="500ms"
                data-duration="500ms"
              >
                THE ARTEMIS COLLECTION
              </h2>
              <a
                href="#"
                class="btn karl-btn"
                data-animation="fadeInLeftBig"
                data-delay="1s"
                data-duration="500ms"
                >Check Collection</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Single Slide Start -->
    <div
      class="single_slide height-800 bg-img background-overlay"
      style="background-image: url('{% static 'img/bg-img/banner3.webp' %}');"
    >
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <div class="welcome_slide_text">
              <h6
                data-animation="fadeInDown"
                data-delay="0"
                data-duration="500ms"
              >
                * TIMELESS ELEGANCE
              </h6>
              <h2
                data-animation="bounceInDown"
                data-delay="500ms"
                data-duration="500ms"
              >
                Jhumkabali ART NOUVEAU
              </h2>
              <a
                href="#"
                class="btn karl-btn"
                data-animation="fadeInRightBig"
                data-delay="1s"
                data-duration="500ms"
                >Check Collection</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- ****** About us Start ****** -->

          <section class="container py-5">
            <div class="section_heading text-center">
          <h2>About Us</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <p class="mb-1">In the city of Pécs</p>
                <h3 class="mb-3">Founded in 1853</h3>
                <p>
                    The Jhumkabali factory was established in 1853 by Miklós Jhumkabali in Pécs, Hungary. Ten years later, his son Vilmos Jhumkabali joined the company and became its manager and director. He led the factory to worldwide recognition by demonstrating its innovative products at world fairs and international exhibitions.<br>
                    It was due to the management of Vilmos Jhumkabali, the Hungarian industrialist and entrepreneur, that the company is still celebrated today for its striking designs and innovative use of materials.
                </p>
            </div>
            <div class="col-lg-6 text-center">
                <img src="{% static 'img/core-img/aboutus.webp' %}" 
                     class="img-fluid rounded" alt="Jhumkabali Factory">
            </div>
        </div>
    </section>
<!-- ****** about us ****** -->


<!-- ****** Popular Brands Area Start ****** -->
<section class="karl-testimonials-area section_padding_100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section_heading text-center">
          <h2>Testimonials</h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="karl-testimonials-slides owl-carousel">
          <!-- Single Testimonial Area -->
          <div class="single-testimonial-area text-center">
            <span class="quote">"</span>
            <h6>
              Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum
              mollis. Aliquam finibus nulla quam, a iaculis justo finibus non.
              Suspendisse in fermentum nunc.Nunc pulvinar molestie sem id
              blandit. Nunc venenatis interdum mollis.
            </h6>
            <div
              class="testimonial-info d-flex align-items-center justify-content-center"
            >
              <div class="tes-thumbnail">
                <img src="{% static 'img/bg-img/tes-1.jpg' %}" alt="" />
              </div>
              <div class="testi-data">
                <p>Michelle Williams</p>
                <span>Client, Los Angeles</span>
              </div>
            </div>
          </div>

          <!-- Single Testimonial Area -->
          <div class="single-testimonial-area text-center">
            <span class="quote">"</span>
            <h6>
              Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum
              mollis. Aliquam finibus nulla quam, a iaculis justo finibus non.
              Suspendisse in fermentum nunc.Nunc pulvinar molestie sem id
              blandit. Nunc venenatis interdum mollis.
            </h6>
            <div
              class="testimonial-info d-flex align-items-center justify-content-center"
            >
              <div class="tes-thumbnail">
                <img src="{% static 'img/bg-img/tes-1.jpg' %}" alt="" />
              </div>
              <div class="testi-data">
                <p>Michelle Williams</p>
                <span>Client, Los Angeles</span>
              </div>
            </div>
          </div>

          <!-- Single Testimonial Area -->
          <div class="single-testimonial-area text-center">
            <span class="quote">"</span>
            <h6>
              Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum
              mollis. Aliquam finibus nulla quam, a iaculis justo finibus non.
              Suspendisse in fermentum nunc.Nunc pulvinar molestie sem id
              blandit. Nunc venenatis interdum mollis.
            </h6>
            <div
              class="testimonial-info d-flex align-items-center justify-content-center"
            >
              <div class="tes-thumbnail">
                <img src="{% static 'img/bg-img/tes-1.jpg' %}" alt="" />
              </div>
              <div class="testi-data">
                <p>Michelle Williams</p>
                <span>Client, Los Angeles</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ****** Popular Brands Area End ****** -->

{% endblock %}