{% extends '../layout/layout.html' %}

{% block content %}

<!-- ..::Newsletter Section Start Here::.. -->
<div class="rts-best-catagory-section2 section-gap">
    <div class="container">
        <div class="row justify-content-center">
            {% for item in categories_with_subcats %}
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="catagory-card">
                    <div class="contents">
                        <h3 class="catagory-title">{{ item.category.name }}</h3>
                        {% if item.subcategories %}
                        <ul class="catagory-lists">
                            {% for subcategory in item.subcategories %}
                            <li>
                                <a href="{% url 'category-subcategory' category_slug=item.category.slug subcategory_slug=subcategory.slug %}">
                                    {{ subcategory.name }} <i class="fal fa-angle-right"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <ul class="catagory-lists">
                            <li><span style="color: #999;">No subcategories available</span></li>
                        </ul>
                        {% endif %}
                        <a href="{% url 'category-only' category_slug=item.category.slug %}" class="all-btn">
                            All {{ item.category.name }} 
                            {% if item.subcategory_count > 0 %}
                            ({{ item.subcategory_count }})
                            {% endif %}
                            <i class="fal fa-long-arrow-right ml--5"></i>
                        </a>
                    </div>
                    <div class="category-thumb">
                        {% if item.category.image %}
                            <img src="{{ item.category.image.url }}" alt="{{ item.category.name }}">
                        {% else %}
                            <img src="/static/images/products/home4/catagory/1.png" alt="{{ item.category.name }}">
                        {% endif %}
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <div class="text-center" style="padding: 40px;">
                    <p>No active categories found.</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- ..::Newsletter Section End Here::.. -->

{% endblock content %}