{% load static %}
<div class="footer footer-1">
    <div class="container">
        <div class="footer-feature1">
            <div class="row align-items-center">
                <div class="col-xl-3">
                    <div class="wrapper">
                        <div class="icon">
                           <img src="{% static 'images/icons/footerft2.png' %}" alt="international-shipment">
                        </div>
                        <div class="title">
                            <h1 class="box-title">Easy  Shipment</h1>
                            <p>Orders are shipped seamlessly between countries</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="wrapper">
                        <div class="icon">
                            <img src="{% static 'images/icons/24clock.png' %}" alt="online-support">
                        </div>
                        <div class="title">
                            <h1 class="box-title">Online Support 24/7</h1>
                            <p>Orders are shipped seamlessly between countries</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="wrapper">
                        <div class="icon">
                            <img src="{% static 'images/icons/footerft3.png' %}" alt="money-return">
                        </div>
                        <div class="title">
                            <h1 class="box-title">Money Return</h1>
                            <p>Orders are shipped seamlessly between countries</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="wrapper last-child">
                        <div class="icon">
                            <img src="{% static 'images/icons/footerft4.png' %}" alt="member-discount">
                        </div>
                        <div class="title">
                            <h1 class="box-title">Member Discount</h1>
                            <p>Orders are shipped seamlessly between countries</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-inner">
            <div class="row">
                <div class="col-xl-5 col-md-6 col-sm-6 box-widget-col">
                    <div class="footer-widget footer-box-widget">
                        <div class="footer-logo"><img src="/static/images/logo1.svg" alt="footer-logo" style="width: 60%; height: auto;"></div>
                        
                        <div class="quick-contact">
                            <div class="phone contact-item">
                                <div class="icon">
                                    <img src="{% static 'images/icons/24clock.png' %}" alt="phone">
                                </div>
                                <div class="contact-info">
                                    <span class="title">Mon - Fri: 9:00-20:00</span>
                                    {% if profile_setting.phone_number1 %}
                                        <a href="tel:{{ profile_setting.phone_number1 }}" class="service-time info">{{ profile_setting.phone_number1 }}</a>
                                    {% else %}
                                        <a href="tel:0020500" class="service-time info">0020 500 - CALL - 000</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="email contact-item">
                                <div class="icon">
                                    <img src="{% static 'images/icons/mail.png' %}" alt="mail">
                                </div>
                                <div class="contact-info">
                                    <span class="title">Get Free Support</span>
                                    {% if profile_setting.email %}
                                        <a href="mailto:{{ profile_setting.email }}"
                                            class="email-address info">{{ profile_setting.email }}</a>
                                    {% else %}
                                        <a href="mailto:pixcelsthemes@gmail.com"
                                            class="email-address info">pixcelsthemes@gmail.com</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <ul class="social-links-footer2">
                            {% if profile_setting.facbook %}
                            <li><a class="platform fb" target="_blank" href="{{ profile_setting.facbook }}"><i
                                        class="fab fa-facebook"></i></a>
                            </li>
                            {% endif %}
                            {% if profile_setting.youtube %}
                            <li><a class="platform yt" target="_blank" href="{{ profile_setting.youtube }}"><i
                                        class="fab fa-youtube"></i></a>
                            </li>
                            {% endif %}
                            {% if profile_setting.twitter %}
                            <li><a class="platform ttr" target="_blank" href="{{ profile_setting.twitter }}"><i
                                        class="fab fa-twitter"></i></a>
                            </li>
                            {% endif %}
                            {% if profile_setting.linkedin %}
                            <li><a class="platform lkd" target="_blank" href="{{ profile_setting.linkedin }}"><i
                                        class="fab fa-linkedin"></i></a>
                            </li>
                            {% endif %}
                            {% if profile_setting.instagram %}
                            <li><a class="platform insta" target="_blank" href="{{ profile_setting.instagram }}"><i
                                        class="fab fa-instagram"></i></a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <h3 class="footer-widget-title">Quick Links</h3>
                        <ul class="widget-items cata-widget">
                            {% for link in cms_links %}
                                {% if link.slug %}
                                    <li class="widget-list-item"><a href="/{{ link.slug }}/">{{ link.pagename }}</a></li>
                                {% endif %}
                            {% empty %}
                                <li class="widget-list-item"><a href="#">About Us</a></li>
                                <li class="widget-list-item"><a href="#">Privacy Policy</a></li>
                                <li class="widget-list-item"><a href="#">Terms & Conditions</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 ">
                    {% if user.is_authenticated %}
                    <div class="footer-widget">
                        <h3 class="footer-widget-title">My Account</h3>
                        <ul class="footer-widget">
                            <li class="widget-list-item"><a href="{% url 'wishlist' %}">Wishlist</a></li>
                            <li class="widget-list-item"><a href="{% url 'view_cart' %}">Cart</a></li>
                            <li class="widget-list-item"><a href="{% url 'checkout' %}">Checkout</a></li>
                            <li class="widget-list-item"><a href="{% url 'profile' %}">My Account</a></li>
                            <li class="widget-list-item"><a href="{% url 'order_history' %}">Order History</a></li>
                            <li class="widget-list-item"><a href="{% url 'shop' %}">Shop</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <div class="footer-widget">
                        <h3 class="footer-widget-title">My Account</h3>
                        <ul class="footer-widget">
                            <li class="widget-list-item"><a href="{% url 'login' %}">Login</a></li>
                            <li class="widget-list-item"><a href="{% url 'register' %}">Register</a></li>
                            <li class="widget-list-item"><a href="{% url 'shop' %}">Shop</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <h3 class="footer-widget-title">Get Newsletter</h3>
                    <div class="footer-widget newsletter-widget">
                        <span class="widget-text">Get 10% off your first order! Hurry up</span>
                        <div class="input-div">
                            <input type="email" placeholder="Enter email address">
                        </div>
                        <a href="#0" class="subscribe-btn">Subscribe Now <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-bottombar">
                <div class="app-download">
                    <span class="download-text">Order faster with our App!</span>
                    <a href="http://appstore.com" target="_blank" class="download-store"><img
                            src="/static/images/items/appstore.jpg" alt=""></a>
                    <a href="https://play.google.com/store/apps" target="_blank" class="download-store"><img
                            src="/static/images/items/playstore.jpg" alt=""></a>
                </div>
                <div class="payment-methods"><img src="/static/images/footer/payment2.svg" alt="payment-methods">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="footer-bottom-inner">
                <span class="copyright">
                    {% if profile_setting.copyright %}
                        {{ profile_setting.copyright|safe }}
                    {% else %}
                        Copyright & Design By <a href="http://PixcelsThemes.com" class="brand"
                        target="_blank">PixcelsThemes</a> -2024
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>