<header id="rtsHeader">
    <div class="header-topbar header-topbar1">
        <div class="container">
            <div class="header-top-area">
                
            </div>
        </div>
    </div>
    <div class="header-topbar-menu-area">
        <div class="container">
            <div class="menu-area1">
                <div class="menu-item">
                    <nav class="nav navbar">
                        <div class="navbar-menu">
                            <ul>
                                <li><a href="{% url 'about-us' %}">About Us</a></li>
                                {% if user.is_authenticated or custom_user %}
                                    <li><a href="{% url 'profile' %}">My Account</a></li>
                                {% else %}
                                    <li><a href="{% url 'login' %}">My Account</a></li>
                                {% endif %}
                                <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                                {% if user.is_authenticated or custom_user %}
                                    <li><a href="{% url 'order_history' %}">Order Tracking</a></li>
                                {% else %}
                                    <li><a href="{% url 'login' %}">Order Tracking</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="menu-area-right-side">
                    <div class="contact"><i aria-hidden="true" class="fas fa-phone"></i>Need help? <strong>Call us:
                            {% if profile_setting.phone_number1 %}
                                <a href="tel:{{ profile_setting.phone_number1 }}">{{ profile_setting.phone_number1 }}</a>
                            {% else %}
                                <a href="tel:0020500">+ 0020 500</a>
                            {% endif %}</strong></div>
                    <div class="topbar-select-area">
                        <select class="topbar-select custom-select">
                            <option value="eng">English</option>
                            <option value="esp">Español</option>
                            <option value="ban">Bangla</option>
                        </select>
                        <select class="topbar-select custom-select2">
                            <option value="inr">INR</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-sticky">
        <div class="container">
            <div class="navbar-part navbar-part1">
                <div class="navbar-inner">
                    <div class="left-side">
                        <div class="hamburger-1">
                            <a href="#" class="nav-menu-link">
                                <span class="dot1"></span>
                                <span class="dot2"></span>
                                <span class="dot3"></span>
                                <span class="dot4"></span>
                                <span class="dot5"></span>
                                <span class="dot6"></span>
                                <span class="dot7"></span>
                                <span class="dot8"></span>
                                <span class="dot9"></span>
                            </a>
                        </div>
                        <a href="/" class="logo">
                            {% if profile_setting.logo_light %}
                                <img src="{{ profile_setting.logo_light.url }}" alt="logo">
                            {% else %}
                                <img src="/static/images/logo1.svg" alt="logo">
                            {% endif %}
                        </a>
                    </div>
                    <div class="rts-menu">
                        <nav class="menus menu-toggle">
                            
                            <ul class="nav__menu">
                                {# 1. Brands #}
                                <li class="has-dropdown"><a class="menu-item menu-item {% if subTitle == 'Shop' %}
                                    active1
                                 {% endif %} " href="#">Brands </a>
                                    <ul class="dropdown-ul">
                                        {% if all_brands %}
                                            {% for brand in all_brands %}
                                            <li class="dropdown-li">
                                                <a class="dropdown-link" href="{% url 'shop' %}?brand={{ brand.slug }}">
                                                    {{ brand.name }}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        {% else %}
                                            <li class="dropdown-li">
                                                <a class="dropdown-link" href="{% url 'shop' %}">No brands available</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                                
                                {# 2. Categories #}
                                <li class="has-dropdown"><a class="menu-item {% if subTitle == 'Shop' %}
                                                                                    active1
                                     {% endif %}" href="#">Categories</a>
                                    <ul class="dropdown-ul mega-dropdown">
                                        {% if all_categories %}
                                            {% for category in all_categories %}
                                                <li class="mega-dropdown-li {% if forloop.last %}last-child{% endif %}">
                                                    <ul class="mega-dropdown-ul">
                                                        <li class="dropdown-li">
                                                            <a class="dropdown-link2" href="{% url 'category-only' category.slug %}">
                                                                <strong>{{ category.name }}</strong>
                                                            </a>
                                                        </li>
                                                        {% if category.subcategories.all %}
                                                            {% for subcategory in category.subcategories.all %}
                                                                <li class="dropdown-li">
                                                                    <a class="dropdown-link2" href="{% url 'category-subcategory' category.slug subcategory.slug %}">
                                                                        {{ subcategory.name }}
                                                                    </a>
                                                                </li>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            <li class="mega-dropdown-li">
                                                <ul class="mega-dropdown-ul">
                                                    <li class="dropdown-li"><a class="dropdown-link2" href="{% url 'shop' %}">Shop</a></li>
                                                </ul>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                                
                                {# 3. Trending Fashion #}
                                <li><a class="menu-item menu-item {% if subTitle == 'Contact' %}
                                    active1
                                    {% endif %} " href="{% url 'contact' %}">Trending Fashion</a></li>
                                
                                {# 4. Offers #}
                                <li class="has-dropdown"><a class="menu-item menu-item {% if subTitle == 'Pages' %}
                        active1
                        {% endif %} " href="#">Offers </a>
                        <ul class="dropdown-ul">
                            {% if all_offers %}
                                {% for offer in all_offers %}
                                <li class="dropdown-li">
                                    <a class="dropdown-link" href="{% if offer.offer_slug %}{% url 'offer_detail' offer.offer_slug %}{% else %}{% url 'shop' %}{% endif %}">
                                        {{ offer.offer_title }}
                                    </a>
                                </li>
                                {% endfor %}
                            {% else %}
                                <li class="dropdown-li">
                                    <a class="dropdown-link" href="{% url 'shop' %}">No offers available</a>
                                </li>
                            {% endif %}
                        </ul>
                        </li>

                                {# 5. Beauty Advice #}
                                <li class="has-dropdown">
                                    <a class="menu-item menu-item {% if subTitle == 'Blog' %}
                                active1
                                {% endif %}" href="{% url 'blog_list' %}">Beauty Advice </a>
                                    <!-- <ul class="dropdown-ul">
                                    <li class="dropdown-li"><a class="dropdown-link" href="{% url 'news' %}">Blog</a>
                                    </li>
                                    <li class="dropdown-li"><a class="dropdown-link" href="{% url 'newsGrid' %}">Blog Grid</a></li>
                                    <li class="dropdown-li"><a class="dropdown-link" href="{% url 'newsDetails' %}">Blog Details</a></li>
                                    </ul> -->
                                </li>
                <!-- <li><a class="menu-item menu-item {% if subTitle == 'Contact' %}
                active1
                {% endif %} " href="{% url 'contact' %}">Contact</a></li> -->
                            </ul>
                        </nav>
                    </div>
                    <div class="responsive-hamburger">
                        <div class="hamburger-1">
                            <a href="#" class="nav-menu-link">
                                <span class="dot1"></span>
                                <span class="dot2"></span>
                                <span class="dot3"></span>
                                <span class="dot4"></span>
                                <span class="dot5"></span>
                                <span class="dot6"></span>
                                <span class="dot7"></span>
                                <span class="dot8"></span>
                                <span class="dot9"></span>
                            </a>
                        </div>
                    </div>
                    <div class="header-action-items header-action-items1">
                        <div class="search-part">
                            <div class="search-icon action-item icon"><i class="rt-search"></i></div>
                            <div class="search-input-area">
                                <div class="container">
                                    <div class="search-input-inner">
                                        <div class="input-div">
                                            <input id="searchInput1" class="search-input" type="text" placeholder="Search by keyword or #">
                                        </div>
                                        <div class="search-close-icon"><i class="rt-xmark"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'login' %}" class="account"><i class="rt-user-2"></i></a>
                        <div class="cart action-item">
                            <div class="cart-nav">
                                <div class="cart-icon icon"><a href="{% url 'view_cart' %}"><i aria-hidden="true" class="fas fa-shopping-basket"></i></a><span class="cart-dot icon-dot">{{ cart_item_count|default:0 }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-bar">
        <div class="cart-header">
            <h3 class="cart-heading">MY CART ({{ cart_item_count|default:0 }} {% if cart_item_count == 1 %}ITEM{% else %}ITEMS{% endif %})</h3>
            <div class="close-cart"><i class="fal fa-times"></i></div>
        </div>
        <div class="product-area" style="flex: 1; overflow-y: auto; overflow-x: hidden; max-height: calc(100vh - 250px); padding-right: 5px;">
            {% if cart_items %}
                {% for item in cart_items %}
                    <div class="product-item{% if forloop.last %} last-child{% endif %}">
                        <div class="product-detail">
                            <div class="product-thumb">
                                {% if item.product_image %}
                                    <img src="{{ item.product_image.image.url }}" alt="{{ item.product.name }}">
                                {% else %}
                                    <img src="/static/images/slider/image1.jpg" alt="{{ item.product.name }}">
                                {% endif %}
                            </div>
                            <div class="item-wrapper">
                                <span class="product-name">{{ item.product.name }}</span>
                                <div class="item-wrapper">
                                    <span class="product-variation">
                                        {% if item.product.category %}
                                            <span class="color">{{ item.product.category.name }}</span>
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="item-wrapper">
                                    <span class="product-qnty">{{ item.quantity }} ×</span>
                                    <span class="product-price">INR {{ item.effective_price|floatformat:2 }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="cart-edit">
                            <div class="quantity-edit">
                                <button class="button minus" data-product-id="{{ item.product.id }}"><i class="fal fa-minus"></i></button>
                                <input type="text" class="input" value="{{ item.quantity }}" data-product-id="{{ item.product.id }}" />
                                <button class="button plus" data-product-id="{{ item.product.id }}"><i class="fal fa-plus"></i></button>
                            </div>
                            <div class="item-wrapper d-flex mr--5 align-items-center">
                                {% if item.product.subcategory and item.product.subcategory.category %}
                                    <a href="{% url 'product_detail' item.product.subcategory.category.slug item.product.subcategory.slug item.product.slug %}" class="product-edit"><i class="fal fa-edit"></i></a>
                                {% else %}
                                    <a href="#" class="product-edit"><i class="fal fa-edit"></i></a>
                                {% endif %}
                                <a href="{% url 'remove_from_cart' item.product.id %}" class="delete-cart"><i class="fal fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="product-item">
                    <div class="product-detail">
                        <div class="item-wrapper" style="text-align: center; padding: 20px;">
                            <span class="product-name">Your cart is empty</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="cart-bottom-area">
            {% if cart_total_price > 0 %}
                <span class="spend-shipping"><i class="fal fa-truck"></i> SPENT <span class="amount">INR {{ cart_total_price|floatformat:2 }}</span> MORE FOR FREE SHIPPING</span>
                <span class="total-price">TOTAL: <span class="price">INR {{ cart_total_price|floatformat:2 }}</span></span>
                <a href="{% url 'checkout' %}" class="checkout-btn cart-btn">PROCEED TO CHECKOUT</a>
            {% endif %}
            <a href="{% url 'view_cart' %}" class="view-btn cart-btn">VIEW CART</a>
        </div>
    </div>
    <!-- slide-bar start -->
    <aside class="slide-bar">
        <div class="offset-sidebar">
            <a class="hamburger-1 mobile-hamburger-1 ml--30" href="#"><span><i class="rt-xmark"></i></span></a>
        </div>
        <!-- offset-sidebar start -->
        <div class="offset-sidebar-main">
            <div class="offset-widget mb-40">
                <div class="info-widget">
                    {% if profile_setting.logo_light %}
                        <img src="{{ profile_setting.logo_light.url }}" alt="logo">
                    {% else %}
                        <img src="/static/images/logo1.svg" alt="logo">
                    {% endif %}
                    {% if profile_setting.main_office_address %}
                        <p class="mb-30">{{ profile_setting.main_office_address }}</p>
                    {% else %}
                        <p class="mb-30">
                            We must explain to you how all seds this mistakens idea denouncing pleasures and praising account.
                        </p>
                    {% endif %}
                </div>
                <div class="info-widget info-widget2">
                    <h4 class="offset-title mb-20">Get In Touch </h4>
                    <ul>
                        {% if profile_setting.phone_number1 %}
                            <li class="info phone"><a href="tel:{{ profile_setting.phone_number1 }}">{{ profile_setting.phone_number1 }}</a></li>
                        {% endif %}
                        {% if profile_setting.phone_number2 %}
                            <li class="info phone"><a href="tel:{{ profile_setting.phone_number2 }}">{{ profile_setting.phone_number2 }}</a></li>
                        {% endif %}
                        {% if profile_setting.email %}
                            <li class="info email"><a href="mailto:{{ profile_setting.email }}">{{ profile_setting.email }}</a></li>
                        {% endif %}
                        {% if profile_setting.main_office_address %}
                            <li class="info location">{{ profile_setting.main_office_address }}</li>
                        {% endif %}
                        {% if profile_setting.branch_office_address %}
                            <li class="info location">{{ profile_setting.branch_office_address }}</li>
                        {% endif %}
                    </ul>
                    <div class="offset-social-link">
                        <h4 class="offset-title mb-20">Follow Us </h4>
                        <ul class="social-icon">
                            {% if profile_setting.facbook %}
                                <li><a href="{{ profile_setting.facbook }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            {% endif %}
                            {% if profile_setting.twitter %}
                                <li><a href="{{ profile_setting.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            {% endif %}
                            {% if profile_setting.youtube %}
                                <li><a href="{{ profile_setting.youtube }}" target="_blank"><i class="fab fa-youtube"></i></a></li>
                            {% endif %}
                            {% if profile_setting.linkedin %}
                                <li><a href="{{ profile_setting.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            {% endif %}
                            {% if profile_setting.instagram %}
                                <li><a href="{{ profile_setting.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- offset-sidebar end -->
        <!-- side-mobile-menu start -->
        <nav class="side-mobile-menu side-mobile-menu1">
            <ul id="mobile-menu-active">
                {# 1. Brands #}
                <li class="has-dropdown firstlvl">
                    <a class="mm-link" href="#">Brands <i class="rt-angle-down"></i></a>
                    <ul class="sub-menu">
                        {% if all_brands %}
                            {% for brand in all_brands %}
                            <li><a href="{% url 'shop' %}?brand={{ brand.slug }}">{{ brand.name }}</a></li>
                            {% endfor %}
                        {% else %}
                            <li><a href="{% url 'shop' %}">No brands available</a></li>
                        {% endif %}
                    </ul>
                </li>
                
                {# 2. Categories #}
                <li class="has-dropdown firstlvl">
                    <a class="mm-link" href="{% url 'shop' %}">Categories <i class="rt-angle-down"></i></a>
                    <ul class="sub-menu mega-dropdown-mobile">
                        {% if all_categories %}
                            {% for category in all_categories %}
                                <li class="mega-dropdown-li">
                                    <ul class="mega-dropdown-ul mm-show">
                                        <li class="dropdown-li">
                                            <a class="dropdown-link" href="{% url 'category-only' category.slug %}">
                                                <strong>{{ category.name }}</strong>
                                            </a>
                                        </li>
                                        {% if category.subcategories.all %}
                                            {% for subcategory in category.subcategories.all %}
                                                <li class="dropdown-li">
                                                    <a class="dropdown-link" href="{% url 'category-subcategory' category.slug subcategory.slug %}">
                                                        {{ subcategory.name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="mega-dropdown-li">
                                <ul class="mega-dropdown-ul mm-show">
                                    <li class="dropdown-li"><a class="dropdown-link" href="{% url 'shop' %}">Shop</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                
                {# 3. Trending Fashion #}
                <li><a class="mm-link" href="{% url 'contact' %}">Trending Fashion</a></li>
                
                {# 4. Offers #}
                <li class="has-dropdown firstlvl">
                    <a class="mm-link" href="/">Offers <i class="rt-angle-down"></i></a>
                    <ul class="sub-menu">
                        {% if all_offers %}
                            {% for offer in all_offers %}
                            <li><a href="{% if offer.offer_slug %}{% url 'offer_detail' offer.offer_slug %}{% else %}{% url 'shop' %}{% endif %}">{{ offer.offer_title }}</a></li>
                            {% endfor %}
                        {% else %}
                            <li><a href="{% url 'shop' %}">No offers available</a></li>
                        {% endif %}
                    </ul>
                </li>
                
                {# 5. Beauty Advice #}
                <li class="has-dropdown firstlvl">
                    <a class="mm-link" href="{% url 'blog_list' %}">Beauty Advice <i class="rt-angle-down"></i></a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'news' %}">Blog</a></li>
                        <li><a href="{% url 'newsGrid' %}">Blog Grid</a></li>
                        <li><a href="{% url 'newsDetails' %}">Blog Details</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="header-action-items header-action-items1 header-action-items-side">
            <div class="search-part">
                <div class="search-icon action-item icon"><i class="rt-search"></i></div>
                <div class="search-input-area">
                    <div class="container">
                        <div class="search-input-inner">
                            <select id="custom-select">
                                <option value="hide">All Catagory</option>
                                <option value="all">All</option>
                                <option value="men">Men</option>
                                <option value="women">Women</option>
                                <option value="shoes">Shoes</option>
                                <option value="shoes">Glasses</option>
                                <option value="shoes">Bags</option>
                                <option value="shoes">Assesories</option>
                            </select>
                            <div class="input-div">
                                <div class="search-input-icon"><i class="rt-search mr--10"></i></div>
                                <input class="search-input" type="text" placeholder="Search by keyword or #">
                            </div>
                            <div class="search-close-icon"><i class="rt-xmark"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{% url 'view_cart' %}" class="cart action-item">
                <div class="cart-nav">
                    <div class="cart-icon icon"><i class="rt-cart"></i><span class="cart-dot icon-dot">{{ cart_item_count|default:0 }}</span>
                    </div>
                </div>
            </a>
            <a href="{% url 'login' %}" class="account"><i class="rt-user-2"></i></a>
        </div>
        <!-- side-mobile-menu end -->
    </aside>
    
</header>