<!DOCTYPE html>
<html lang="en" class="darkmode" data-theme="light">

{% include  '../partials/head.html' with css=css %}

<body>

    <!-- ..::Preloader Section Start Here::.. -->
    {% include  '../partials/preloader.html' %}
    <!-- ..::Preloader End Here::.. -->

    <div class="anywere"></div>

        {% if title %}
        {% include  '../partials/header.html' %}
        {% endif %}

        {% block content %}

        
        {% endblock %} 

        {% if footer %}
        {% include  '../partials/footer.html' %}
        {% endif %}

    {% include  '../partials/scroll.html' %}

    {% include  '../partials/script.html' with script=script %}

    {% block script %}

    {% endblock %}  

</body>

</html>