{% extends '../layout/layout.html' %}

{% block script %}
        <script src="/static/js/vendors/zoom.js"></script> 
{% endblock %} 

{% block content %}
    
<!-- ..::About Us Start Here::.. -->
<section class="about-us-area pt-120 pb-75 pt-md-60 pb-md-15 pt-xs-50 pb-xs-10">
    <div class="container">
        <div class="image-section">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-1">
                        <img src="/static/images/about/img-1.jpg" alt="img">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="image-2">
                        <img src="/static/images/about/img-2.jpg" alt="img">
                    </div>
                </div>
            </div>
            <div class="section-title">
                <div class="title-inner">
                    <div class="wrapper">
                        <div class="sub-content">
                            <img class="line-1" src="/static/images/banner/wvbo-icon.png" alt="">
                            <span class="sub-text">Since From 2000</span>
                            <img class="line-2" src="/static/images/banner/wvbo-icon.png" alt="">
                        </div>
                        <h2 class="title">About Our Story</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-text">
            <div class="row">
                <div class="col-lg-4">
                    <p class="description">Publish your eCommerce site quickly with our easy-to-use
                        builder— no coding required. Migrate your items from your
                        point of sale system or turn your Instagram feed into a shop
                        site and start selling fast. Square Online works for all kinds of
                        businesses—retail, restaurants, services without costly
                        customization or add ons. Get orders to your customers in
                        of ways by offering shipping, pickup, delivery, and even QR
                        code ordering.</p>
                </div>
                <div class="col-lg-4">
                    <p class="description">Expand your reach and sell more using seamless integrations
                        Google, Instagram, Facebook, and more. Built- in SEO tools make
                        easy for shoppers to find your business on search engines. Get
                        access to the entire suite of integrated Square solutions help
                        run your business. Integration between Square Online and all
                        Square point of sale systems makes inventory management
                        Subscribe to Square Marketing and easily send email
                        to your customers.</p>
                </div>
                <div class="col-lg-4">
                    <div class="service-list">
                        <ul>
                            <li><a href="#">Orders go right to your restaurant points</a></li>
                            <li><a href="#">Provide in-person pickup, & delivery by professional</a></li>
                            <li><a href="#">Offer in-person diners self serve, contactless</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ..::About Us End Here::.. -->

<!-- ..::Team Area Start Here::.. -->
<div class="team-area">
    <div class="container">
        <div class="sub-content">
            <img class="line-1" src="/static/images/banner/wvbo-icon.png" alt="">
            <span class="sub-text">Team</span>
            <img class="line-2" src="/static/images/banner/wvbo-icon.png" alt="">
        </div>
        <h2 class="title">Meet With Team</h2>
        <div class="slider-div">
            <div class="swiper rts-cmmnSlider-over2" data-swiper="pagination">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="team-wraper">
                            <div class="team-thumb">
                                <a href="#"><img src="/static/images/about/1.jpg" alt="collection-image"></a>
                            </div>
                            <div class="team-content">
                                <h3>
                                    <a href="#" class="item-catagory-box">Richard John</a>
                                </h3>
                                <h6>Founder</h6>
                                <div class="footer__social">
                                    <a class="footer-icon" href="#"><i aria-hidden="true"
                                        class="fab fa-facebook-f"></i></a>
                                    <a class="footer-icon" href="#"><i aria-hidden="true"
                                        class="fab fa-twitter"></i></a>
                                    <a class="footer-icon" href="#"><i aria-hidden="true"
                                        class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-wraper">
                            <div class="team-thumb">
                                <a href="#"><img src="/static/images/about/2.jpg" alt="collection-image"></a>
                            </div>
                            <div class="team-content">
                                <h3>
                                    <a href="#" class="item-catagory-box">Larry Mord</a>
                                </h3>
                                <h6>Founder</h6>
                                <div class="footer__social">
                                    <a class="footer-icon" href="#"><i aria-hidden="true"
                                        class="fab fa-facebook-f"></i></a>
                                    <a class="footer-icon" href="#"><i aria-hidden="true"
                                        class="fab fa-twitter"></i></a>
                                    <a class="footer-icon" href="#"><i aria-hidden="true"
                                        class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-wraper">
                            <div class="team-thumb">
                                <a href="#"><img src="/static/images/about/3.jpg"
                                    alt="collection-image"></a>
                            </div>
                            <div class="team-content">
                                <h3>
                                    <a href="#" class="item-catagory-box">Tom Ashik</a>
                                </h3>
                                <h6>Founder</h6>
                                <div class="footer__social">
                                    <a class="footer-icon" href="#"><i aria-hidden="true"
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="footer-icon" href="#"><i aria-hidden="true"
                                            class="fab fa-twitter"></i></a>
                                    <a class="footer-icon" href="#"><i aria-hidden="true"
                                            class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-wraper">
                            <div class="team-thumb">
                                <a href="#"><img src="/static/images/about/4.jpg" alt="collection-image"></a>
                            </div>
                            <div class="team-content">
                                <h3>
                                    <a href="#" class="item-catagory-box">John Milo</a>
                                </h3>
                                <h6>Founder</h6>
                                <div class="footer__social">
                                    <a class="footer-icon" href="#"><i aria-hidden="true"
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="footer-icon" href="#"><i aria-hidden="true"
                                            class="fab fa-twitter"></i></a>
                                    <a class="footer-icon" href="#"><i aria-hidden="true"
                                            class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ..::Team Area End Here::.. -->

<!-- ..::Feature Area Start Here::.. -->
<div class="features-area">
    <div class="container">
        <div class="features-1">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="image-section">
                        <a href="#"><img src="/static/images/about/features-1.jpg" alt="features-1"></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-content">
                        <div class="sub-content">
                            <img class="line-1" src="/static/images/banner/wvbo-icon.png" alt="">
                            <span class="sub-text">Features #01</span>
                            <img class="line-2" src="/static/images/banner/wvbo-icon.png" alt="">
                        </div>
                        <h2 class="title">Solutions That Work Together</h2>
                        <p class="description">Publish your eCommerce site quickly with our easy-to-use store
                            builder— no
                            coding required. Migrate your items from your point of sale system or turn your
                            Instagram feed into a shopping site and start selling fast. Square Online works
                            for all kinds of businesses—retail, restaurants, services.</p>
                        <div class="section-button">
                            <a href="#">Get In Touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="features-2">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section-content">
                        <div class="sub-content">
                            <img class="line-1" src="/static/images/banner/wvbo-icon.png" alt="">
                            <span class="sub-text">Features #01</span>
                            <img class="line-2" src="/static/images/banner/wvbo-icon.png" alt="">
                        </div>
                        <h2 class="title">All Kinds of Payments Securely</h2>
                        <p class="description">Publish your eCommerce site quickly with our easy-to-use store
                            builder— no
                            coding required. Migrate your items from your point of sale system or turn your
                            Instagram feed into a shopping site and start selling fast. Square Online works
                            for all kinds of businesses—retail, restaurants, services.</p>
                        <div class="section-button">
                            <a href="#">Contact With Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="image-section">
                        <a href="#"><img src="/static/images/about/features-2.jpg" alt="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ..::Feature Area End Here::.. -->
    
{% endblock content %}