{% extends '../layout/layout.html' %}

{% block content %}

<!--news-feed-area start-->
<div class="rts-featured-product-section3">
    <div class="container">
        <div class="rts-featured-product-section-inner">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="full-wrapper wrapper-1 wrapper-4">
                        <div class="image-part">
                            <a href="#" class="image"><img src="/static/images/featured/img-1.jpg" alt="Featured Image"></a>
                        </div>
                        <div class="blog-content">
                            <span class="date-full">
                                <span class="day">25</span>
                                <br>
                                <span class="month">Jul</span>
                            </span>
                            <ul class="blog-meta">
                                <li><a href="#">WINTER DRESS</a></li>
                            </ul>
                            <div class="title">
                                <a href="#">Once that’s determined with a good, you need to come up with a name</a>
                            </div>
                            <div class="author-info d-flex align-items-center">
                                <div class="avatar"><img src="/static/images/featured/author.png" alt="Author Image"></div>
                                <div class="info">
                                    <p class="author-name">PixcelsThemes</p>
                                    <p class="author-dsg">Author</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="full-wrapper wrapper-2 wrapper-4">
                        <div class="image-part">
                            <a href="#" class="image"><img src="/static/images/featured/img-2.jpg" alt="Featured Image"></a>
                        </div>
                        <div class="blog-content">
                            <span class="date-full">
                                <span class="day">25</span>
                                <br>
                                <span class="month">Jul</span>
                            </span>
                            <ul class="blog-meta">
                                <li><a href="#">WINTER DRESS</a></li>
                            </ul>
                            <div class="title">
                                <a href="#">Once determined, you need to come up with a name a legal structure</a>
                            </div>
                            <div class="author-info d-flex align-items-center">
                                <div class="avatar"><img src="/static/images/featured/author.png" alt="Author Image"></div>
                                <div class="info">
                                    <p class="author-name">PixcelsThemes</p>
                                    <p class="author-dsg">Author</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="full-wrapper wrapper-3 wrapper-4">
                        <div class="image-part">
                            <a href="#" class="image"><img src="/static/images/featured/img-3.jpg" alt="Featured Image"></a>
                        </div>
                        <div class="blog-content">
                            <span class="date-full">
                                <span class="day">25</span>
                                <br>
                                <span class="month">Jul</span>
                            </span>
                            <ul class="blog-meta">
                                <li><a href="#">WINTER DRESS</a></li>
                            </ul>
                            <div class="title">
                                <a href="#">At the limit, statically generated, edge delivered a food door to door</a>
                            </div>
                            <div class="author-info d-flex align-items-center">
                                <div class="avatar"><img src="/static/images/featured/author.png" alt="Author Image"></div>
                                <div class="info">
                                    <p class="author-name">PixcelsThemes</p>
                                    <p class="author-dsg">Author</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="full-wrapper wrapper-1 wrapper-4">
                        <div class="image-part">
                            <a href="#" class="image"><img src="/static/images/blog/img-1.jpg" alt="Featured Image"></a>
                        </div>
                        <div class="blog-content">
                            <span class="date-full">
                                <span class="day">25</span>
                                <br>
                                <span class="month">Jul</span>
                            </span>
                            <ul class="blog-meta">
                                <li><a href="#">WINTER DRESS</a></li>
                            </ul>
                            <div class="title">
                                <a href="#">Once that’s determined with a good, you need to come up with a name</a>
                            </div>
                            <div class="author-info d-flex align-items-center">
                                <div class="avatar"><img src="/static/images/featured/author.png" alt="Author Image"></div>
                                <div class="info">
                                    <p class="author-name">PixcelsThemes</p>
                                    <p class="author-dsg">Author</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="full-wrapper wrapper-2 wrapper-4">
                        <div class="image-part">
                            <a href="#" class="image"><img src="/static/images/blog/img-2.jpg" alt="Featured Image"></a>
                        </div>
                        <div class="blog-content">
                            <span class="date-full">
                                <span class="day">25</span>
                                <br>
                                <span class="month">Jul</span>
                            </span>
                            <ul class="blog-meta">
                                <li><a href="#">WINTER DRESS</a></li>
                            </ul>
                            <div class="title">
                                <a href="#">Once determined, you need to come up with a name a legal structure</a>
                            </div>
                            <div class="author-info d-flex align-items-center">
                                <div class="avatar"><img src="/static/images/featured/author.png" alt="Author Image"></div>
                                <div class="info">
                                    <p class="author-name">PixcelsThemes</p>
                                    <p class="author-dsg">Author</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="full-wrapper wrapper-3 wrapper-4">
                        <div class="image-part">
                            <a href="#" class="image"><img src="/static/images/blog/img-3.jpg" alt="Featured Image"></a>
                        </div>
                        <div class="blog-content">
                            <span class="date-full">
                                <span class="day">25</span>
                                <br>
                                <span class="month">Jul</span>
                            </span>
                            <ul class="blog-meta">
                                <li><a href="#">WINTER DRESS</a></li>
                            </ul>
                            <div class="title">
                                <a href="#">At the limit, statically generated, edge delivered a food door to door</a>
                            </div>
                            <div class="author-info d-flex align-items-center">
                                <div class="avatar"><img src="/static/images/featured/author.png" alt="Author Image"></div>
                                <div class="info">
                                    <p class="author-name">PixcelsThemes</p>
                                    <p class="author-dsg">Author</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="full-wrapper wrapper-1 wrapper-4">
                        <div class="image-part">
                            <a href="#" class="image"><img src="/static/images/featured/blog-4.jpg" alt="Featured Image"></a>
                        </div>
                        <div class="blog-content">
                            <span class="date-full">
                                <span class="day">25</span>
                                <br>
                                <span class="month">Jul</span>
                            </span>
                            <ul class="blog-meta">
                                <li><a href="#">WINTER DRESS</a></li>
                            </ul>
                            <div class="title">
                                <a href="#">Once that’s determined with a good, you need to come up with a name</a>
                            </div>
                            <div class="author-info d-flex align-items-center">
                                <div class="avatar"><img src="/static/images/featured/author.png" alt="Author Image"></div>
                                <div class="info">
                                    <p class="author-name">PixcelsThemes</p>
                                    <p class="author-dsg">Author</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="full-wrapper wrapper-2 wrapper-4">
                        <div class="image-part">
                            <a href="#" class="image"><img src="/static/images/featured/blog-5.jpg" alt="Featured Image"></a>
                        </div>
                        <div class="blog-content">
                            <span class="date-full">
                                <span class="day">25</span>
                                <br>
                                <span class="month">Jul</span>
                            </span>
                            <ul class="blog-meta">
                                <li><a href="#">WINTER DRESS</a></li>
                            </ul>
                            <div class="title">
                                <a href="#">Once determined, you need to come up with a name a legal structure</a>
                            </div>
                            <div class="author-info d-flex align-items-center">
                                <div class="avatar"><img src="/static/images/featured/author.png" alt="Author Image"></div>
                                <div class="info">
                                    <p class="author-name">PixcelsThemes</p>
                                    <p class="author-dsg">Author</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="full-wrapper wrapper-3  wrapper-4">
                        <div class="image-part">
                            <a href="#" class="image"><img src="/static/images/featured/blog-6.jpg" alt="Featured Image"></a>
                        </div>
                        <div class="blog-content">
                            <span class="date-full">
                                <span class="day">25</span>
                                <br>
                                <span class="month">Jul</span>
                            </span>
                            <ul class="blog-meta">
                                <li><a href="#">WINTER DRESS</a></li>
                            </ul>
                            <div class="title">
                                <a href="#">At the limit, statically generated, edge delivered a food door to door</a>
                            </div>
                            <div class="author-info d-flex align-items-center">
                                <div class="avatar"><img src="/static/images/featured/author.png" alt="Author Image"></div>
                                <div class="info">
                                    <p class="author-name">PixcelsThemes</p>
                                    <p class="author-dsg">Author</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--news-feed-area end-->

{% endblock content %}